Source: libhazard-chipkit
Section: libraries
Priority: extra
XBSC-Group: Fonts
XBSC-Family: pic32
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libhazard-chipkit
Architecture: all
Depends: chipkit
Description: Hazard library for chipkit

